@{
    ViewData["Title"] = "Charts";
}

    <div class="card mb-3">
        <div class="card-header bg-warning text-dark">
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            Count of Transactions by Type from @ViewBag.start to @ViewBag.end
        </div>
        <div class="card-body">
            <canvas id="chart1" class="chartjs-render-monitor" style="display: block"></canvas>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header bg-warning text-dark">
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            Account Movement from @ViewBag.start to @ViewBag.end
        </div>
        <div class="card-body">
            <canvas id="chart2" class="chartjs-render-monitor" style="display: block"></canvas>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header bg-warning text-dark">
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            Amount by Transaction Type from @ViewBag.start to @ViewBag.end
        </div>
        <div class="card-body">
            <canvas id="chart3" class="chartjs-render-monitor" style="display: block"></canvas>
        </div>
    </div>


@section scripts
{
    <script src="~/js/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>

    <script>
        $(document).ready(setupChart1);

        function setupChart1()
        {
            var option1 =
            {
                type: "GET",
                url: "http://localhost:49528/api/Customers/getChartData/@ViewBag.id/@ViewBag.start/@ViewBag.end",
                contentType: "application/json;charset=utf-8",
                datatype: "json",
                success: chart_1,
                xhrFields: {
                    withCredentials: true
                }
            }

            $.ajax(option1);
        }

        function chart_1(data)
        {
            console.log(data);
            var x_data = data[0];
            var y_data = data[1];

            var ctx = document.getElementById('chart1').getContext('2d');
            var chart1 = new Chart(ctx,
                {
                    type: 'pie',
                    data:
                    {
                        labels: x_data,
                        datasets: [{
                            label: 'Number of Transactions',
                            data: y_data,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                }
            );
        }

        $(document).ready(setupChart2);

        function setupChart2()
        {
            var option2 =
            {
                type: "GET",
                url: "http://localhost:49528/api/Customers/getChart2Data/@ViewBag.id/@ViewBag.start/@ViewBag.end",
                contentType: "application/json;charset=utf-8",
                datatype: "json",
                success: chart_2,
                xhrFields: {
                    withCredentials: true
                }
            }

            $.ajax(option2);
        }

        function chart_2(data)
        {
            console.log(data);
            var x_data = data[0];
            var y_data = data[1];

            var ctx = document.getElementById('chart2').getContext('2d');
            var chart2 = new Chart(ctx,
                {
                    type: 'line',
                    data:
                    {
                        labels: x_data,
                        datasets: [{
                            label: 'Amount',
                            data: y_data,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                }
            );
        }

        $(document).ready(setupChart3);

        function setupChart3()
        {
            var option3 =
            {
                type: "GET",
                url: "http://localhost:49528/api/Customers/getChart3Data/@ViewBag.id/@ViewBag.start/@ViewBag.end",
                contentType: "application/json;charset=utf-8",
                datatype: "json",
                success: chart_3,
                xhrFields: {
                    withCredentials: true
                }
            }

            $.ajax(option3);
        }

        function chart_3(data)
        {
            console.log(data);
            var x_data = data[0];
            var y_data = data[1];

            var ctx = document.getElementById('chart3').getContext('2d');
            var chart3 = new Chart(ctx,
                {
                    type: 'bar',
                    data:
                    {
                        labels: x_data,
                        datasets: [{
                            label: 'Amount',
                            data: y_data,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                }
            );
        }
    </script>
}
